#body-image{
    background: url("../imgs/hintergrund.jpg") no-repeat center center fixed;
    background-position: bottom right;
   /* background-repeat: no-repeat;*/
    background-size: contain;
    background-color:#F2F2F1;
}

.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content {
    background-color: whitesmoke;
    opacity: .9;
    padding: 19px 14px;
    border-radius: 10px;
    border: none;
}

.form-group {
    margin-bottom: 25px;
}

.form-group input {
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    letter-spacing: 2px;
    padding-left: 54px;
}

.form-input button {
    width: 40%;
    margin: 5px 0 25px;
}
.btn-success {
    background-color:  #F5BD2A;
    font-size: 19px;
    border-radius: 5px;
    padding: 7px 14px;
    border: 1px solid #daf1ff;
}
.btn-success:hover {
    background-color: #13445e;
    border: 1px solid #daf1ff;
}
#h2-color{
    color: #13445e;
}

#dropdown-menu{
    border:none;
    font-size: x-large;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #1c9879;
    color: white;
    transition: all 0.3s;
}

#font-menu{
    font-size: x-large;
    color:white;
}

#h3{
    font-weight: bolder;
}
#h1{
    color: #F5BD2A;
    font-weight: bolder;
}

#imgs-startseite{
    width: 5%;
    height: 5%;
}
#col-formular{
    background-color: #1c9879;
}

#col-krankheitsbild{
    background-color: #F2F2F1;
}

#formular-size{
    width: 50%;
    height: 50%;
    border-radius: 0%;
}

#button-color{
color: white;
}

#p{
    color: white;
    font-size: large;
    font-weight: bolder;
}

#position{
    position: center;
}